*{
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.FullPostContainer{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background:#fff;
}
.FullpostHeader{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.bannerpost{
    width:100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bannerpost img{
    width:90%;
    height: 100%;
}

@media screen and (max-width:800px){
   .bannerpost img{
        height: 85%;
    }
    .FullpostHeader{
        font-size: 20px;
        height:100px;
        width:90%;
        margin: 0 auto;
    }
}
.FullPostDescriptionContainer{
    width:100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    
}
.FullPostDescription{
    width:80%;
    height: 70%;
    background:#fff;
    -webkit-box-shadow: 1px 0px 23px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 23px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 23px -1px rgba(0,0,0,0.75);
    transform:translate(0,-30%);
    overflow: auto;
    padding:20px;
    text-align: center;
}
.ComentButton{
    width: 80%;
}
.ComentButton button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border:1px solid;
    background:#fff;
    cursor: pointer;
    outline:none;
    margin-right: 20px;
}
.ComentButton button:hover{
    background:#101010;
    color:#fff;
    border:transparent;
    transition: .2s ease-in;
}
.FullPostComentContainer{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-flow: column ;
    justify-content: center;
}
.FullPostComent{
    width: 95%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}
.ComentIcontContainer{
    height: 100%;
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ComentIcontContainer img{
    width: 120px;
    height: 80%;
}
@media screen and (max-width:600px){
    
    .ComentIcontContainer img {
        width: 80px;
        height: 70%;
    }
    .Coment{
        font-size: 14px;
    }
}
.ComentBodyContainer{
    height: 100%;

}
.ComentHeader{
    width: 100%;
    height: 30%;
    display: flex;
}
.ComentTitle{
    width:85%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    font-weight: 650;
    align-items: center;
}
.comentScore{
    width:15%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ComentBody{
    width: 95%;
    height: 70%;
    display: flex;
}
.Coment{
    width: 85%;
    height:100%;
    padding-left: 10px;
}
.ComentRate{
    width:15%;
    height: 100%;

    display: flex;
}
.goodRate {
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badRate{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goodRate img{
    width: 50%;
}
.badRate img{
    width: 50%;
}
@media screen and (max-width:900px){
    .goodRate img{
        width:0%;
    }
    .badRate img {
        width:0%;
    }
}

.rating{
    width: 10%;
}